[flex]
  display flex
[flex~="center"]
  justify-content center
[flex~="around"]
  justify-content space-around
[flex~="between"]
  justify-content space-between

[flex-box~="1"]
  flex 1
[flex-box~="2"]
  flex 2

